/RollAndCode/Presentacion/target/
/RollAndCode/Negocio/target/
/RollAndCode/Dominio/target/
/RollAndCode/Persistencia/target/
/RollAndCode/DominioRollAndCode/target/
/RollAndCode/PersistenciaRollAndCode/target/
/RollAndCode/PresentacionRollAndCode/target/
/RollAndCode/PersistenciaRollAndCode/src/main/resources/META-INF/persistence.xml
RollAndCode/PersistenciaRollAndCode/src/main/resources/META-INF/persistence.xml
RollAndCode/NegocioRollAndCode/target/NegocioRollAndCode-1.0-SNAPSHOT.jar
RollAndCode/NegocioRollAndCode/target/NegocioRollAndCode-1.0-SNAPSHOT.jar
RollAndCode/NegocioRollAndCode/target/NegocioRollAndCode-1.0-SNAPSHOT.jar
RollAndCode/NegocioRollAndCode/target/NegocioRollAndCode-1.0-SNAPSHOT.jar
/RollAndCode/PersistenciaRollAndCode/nbproject/
